<h2 mat-dialog-title>Pay Merchant</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Select Card</mat-label>
    <mat-select [(value)]="card" required>
      <span *ngFor="let card of cards">
        <mat-option value="{{card}}">{{card}}</mat-option>
      </span>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="CVV" [formControl]="cvv" [type]="'password'" required>
    <mat-error *ngIf="cvv.invalid">invalid cvv</mat-error>
  </mat-form-field>



  <mat-form-field>
    <input matInput placeholder="Merchant" value="{{data.name}}" [disabled]="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Amount" [(ngModel)]="amount">
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions style="display: grid;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [ngClass]="{'pay-button': !cvv.invalid && amount!=null && card!=null}" (click)="payMerchant()"
    [disabled]="cvv.invalid">Confirm Payment</button>
</mat-dialog-actions>