<h2 mat-dialog-title>Add New Card</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Card Number" [formControl]="cardNumber" required>
    <mat-error *ngIf="cardNumber.invalid">Enter valid card no.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name On Card" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">Enter valid name</mat-error>
  </mat-form-field>

  <div>
      <mat-form-field style="max-width: 100px;float:left;">
        <mat-label>Card Type</mat-label>
        <mat-select [(value)]="cardType" required>
          <mat-option value="Debit Card">Debit Card</mat-option>
          <mat-option value="Credit Card">Credit Card</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="max-width: 100px; float:right;">
        <input matInput placeholder="CVV" [formControl]="cvv" [type]="'password'" required>
        <mat-error *ngIf="cvv.invalid">invalid cvv</mat-error>
      </mat-form-field>
    </div>


  <div style="width: 100%; display: inline-flex;">
    <div style="padding-right: 10px;">
      <mat-form-field style="max-width: 100px;float:left;">
        <mat-label>Expiry Month</mat-label>
        <select matNativeControl [(ngModel)]="expiryMonth" required>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="max-width: 100px; float:right;">
        <input matInput placeholder="Expiry Year" [formControl]="expiryYear" required>
        <mat-error *ngIf="expiryYear.invalid">Format: 'yyyy' </mat-error>
      </mat-form-field>
    </div>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="addCard()"
    [disabled]="cardNumber.invalid || name.invalid || expiryYear.invalid || cardType==null">Add Card</button>
</mat-dialog-actions>