<mat-card style="margin-top: 3%;">
  <mat-card-header>
    <mat-card-title>Sign Up to AutoCard Account</mat-card-title>
    <mat-card-subtitle>Register and Manage your expenses.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="First Name *">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name *">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email *">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password *">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Verify Password *">
    </mat-form-field>

    <mat-checkbox color="primary">I have read and agree to the <a href="#">AutoCard Terms of Use</a>. *</mat-checkbox>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Create Account</button>
  </mat-card-actions>

</mat-card>