<h2 mat-dialog-title>Edit/Remove Card</h2>

<div class="card-number">
  <div>
    <span style="float: left;">Card Number</span>
    <span style="float: right;">
      <button mat-icon-button matSuffix (click)="deleteAccount()" [attr.aria-label]="'Delete Card'">
        <mat-icon style="color: red;">delete_forever</mat-icon>
      </button>
    </span>
  </div>
  <br>
  <div style="font-weight: bold;">
    {{cardData.cardNumber}}
  </div>
</div>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name On Card" [formControl]="name" [(ngModel)]="cardData.cardName">
    <mat-error *ngIf="name.invalid">Enter valid name</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Card Type</mat-label>
    <mat-select [(value)]="cardData.cardType">
      <mat-option value="Debit Card">Debit Card</mat-option>
      <mat-option value="Credit Card">Credit Card</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="width: 100%; display: inline-flex;">
    <div style="padding-right: 10px;">
      <mat-form-field style="max-width: 100px;float:left;">
        <mat-label>Expiry Month</mat-label>
        <select matNativeControl [(ngModel)]="expiryMonth" required>
          <option value="01" disabled>January</option>
          <option value="02" disabled>February</option>
          <option value="03" disabled>March</option>
          <option value="04" disabled>April</option>
          <option value="05" disabled>May</option>
          <option value="06" disabled>June</option>
          <option value="07" disabled>July</option>
          <option value="08" disabled>August</option>
          <option value="09" disabled>September</option>
          <option value="10" disabled>October</option>
          <option value="11" disabled>November</option>
          <option value="12" disabled>December</option>
        </select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="max-width: 100px; float:right;">
        <input matInput placeholder="Expiry Year" [formControl]="expiryYear" style="color: black;" required>
        <mat-error *ngIf="expiryYear.invalid">Format: 'yyyy' </mat-error>
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close color="green">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="name.invalid || expiryYear.invalid" (click)="editCard()">Save
    Changes</button>
</mat-dialog-actions>