<app-top-nav></app-top-nav>
<div class="search-merchants">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search and Pay" aria-label="Merchants" [matAutocomplete]="auto"
      (keyup)="keyUp.next($event.target.value)">

    <mat-autocomplete #auto="matAutocomplete">

      <mat-option *ngFor="let merchant of merchants" [value]="merchant.name">
        <img class="example-option-img" aria-hidden [src]="merchant.logo" height="45">
        <span>{{merchant.name}}</span> |
        <small>{{merchant.city}}</small>

        <button class="pay-button" mat-flat-button aria-label="PayMerchant" (click)="payMerchant(merchant)">
          Pay
        </button>
      </mat-option>

    </mat-autocomplete>
  </mat-form-field>
</div>