<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>
    <span style="font-size: x-large;font-weight: bolder;font-style: italic;">Auto</span>
    <span>Card</span>
  </span>
  <span class="fill-space"></span>
  <span>
    <button mat-icon-button aria-label="Profile" [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu class="profileMenu">
      <div class="profile-note">
        <span>Signed in as</span><br>
        <span><b>{{name}}</b></span>
      </div>

      <div class="dropdown-divider"></div>

      <a routerLink="/passbook" routerLinkActive="active" class="dropdown-item">Passbook</a>

      <a routerLink="/manage-cards" routerLinkActive="active" class="dropdown-item">Manage Cards</a>

      <a routerLink="/p2m-payment-gateway" routerLinkActive="active" class="dropdown-item">Pay Merchant</a>

      <a routerLink="/payment-gateway" routerLinkActive="active" class="dropdown-item">Pay Merchants</a>

      <a routerLink="/p2p-payment-gateway" routerLinkActive="active" class="dropdown-item">Fund Transfer</a>

      <div class="dropdown-divider"></div>

      <button (click)="signOut()" class="sign-out dropdown-item">Sign Out</button>

    </mat-menu>
  </span>
</mat-toolbar>