<div *ngIf="showResetPrompt" class="container">
  <mat-card style="margin-top: 3%;">
    <mat-card-header>
      <mat-card-title>Enter New Password</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="signupForm" #pswdForm>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-error *ngIf="signupForm.hasError('required', 'password')">
            Please enter your new password
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Verify Password" [type]="hide2 ? 'password' : 'text'"
            formControlName="confirmPassword" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="signupForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
  
        </mat-form-field>
      </form>
 
    </mat-card-content>
  
    <mat-card-actions style="padding-bottom: 10px; padding-top: 5px;">
      <button mat-raised-button (click)="changePassword()" color="primary"
        [disabled]="signupForm.invalid" style="margin-left: 33%;">Submit</button>
    </mat-card-actions>
  
  </mat-card>
</div>
